<%- include("partials/header", { title: title }) %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">GameStation</a>
    <div class="navbar-nav">
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/register">Register</a>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <div id="authForms"></div>
  <div id="gameList" class="mt-4">
    <p>Welcome to GameStation! Explore games after login.</p>
  </div>
</div>

<%- include("partials/footer") %>
